<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autot</title>
</head>
<body>
    <h1>Autot</h1>
    <table>
    <!-- otsikkorivi -->
    <tr>
    <th>Automalli</th>
    <th>Valmistusvuosi</th>
    </tr>
    <tr th:each="auto : ${autot}"> <!-- model-olion alla oleva autolista, jonka keyword "autot" -->
    <td th:text="${auto.automalli}">Automalli</td>
    <td th:text="${auto.valmistusvuosi}">Vuosimalli</td>
    
    
    
    
    
    </table>
    
</body>
</html>